.white-nav {
  /* position: fixed; */

  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 0 5rem;
}

.white-nav h1 {
  font-weight: 900;
  background: -webkit-linear-gradient(160deg, #4eb3eb 0%, #3649ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -3px;
}

.user-details {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  object-fit: contain;
}

.user-details img {
  width: 40px;
  object-fit: contain;
}
