.container {
  display: flex;
}
main {
  width: 100vw;
  padding: 20px;
  background: #eef2f8;
}
.sidebar {
  background: var(--bg-royalblue);
  color: #fff;
  height: 100vh;

  width: 200px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.bars {
  display: flex;
  font-size: 25px;
  align-self: flex-end;
  margin-left: 50px;
  cursor: pointer;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;

  transition: all 0.5s;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.link:hover {
  background: var(--bg-grey);
  color: var(--bg-royalblue);
  transition: all 0.5s;
}
.active {
  background: var(--bg-grey);
  color: var(--bg-royalblue);
  border-radius: 0px;
}
.icon {
  font-size: 2rem;
}
.link_text {
  text-transform: uppercase;
  font-size: 0.8rem;
}
