:root {
  --bg-royalblue: #282e58;
  --bg-grey: #c9cdd3;
}

* {
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-royalblue);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
